@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

// .button-primary {
//   background-color: v.$primary-color;
//   color: #fff;
//   padding: v.$spacing-md;
//   border-radius: 4px;
//   @include m.transition(0.3s);

//   &:hover {
//     background-color: darken(v.$primary-color, 10%);
//   }
// }

// ==========================
// Button Primary Mixin
// ==========================
@mixin button-primary {
  //Set backgroundcolor to primarycolor variable
  background-color: v.$primary-color;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: bold;
  border-radius: v.$border-radius;
  -webkit-border-radius: v.$border-radius;
  -moz-border-radius: v.$border-radius;
  -ms-border-radius: v.$border-radius;
  -o-border-radius: v.$border-radius;
  color: #fff;
  padding: v.$spacing-sm v.$spacing-md;
  &:hover {
    // Darken background color by 10%
    background-color: darken(v.$primary-color, 10%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
  }
  // Responsive Styles
  @media (max-width: v.$breakpoint-mobile) {
    padding: v.$spacing-sm;
    font-size: 0.9rem;
  }
  @media (min-width: v.$breakpoint-mobile) and (max-width: v.$breakpoint-tablet) {
    padding: v.$spacing-sm;
    font-size: 1rem;
  }
  @media (min-width: v.$breakpoint-tablet) and (max-width: v.$breakpoint-desktop) {
    padding: v.$spacing-sm v.$spacing-md;
    font-size: 1.1rem;
  }
}

// If you want, keep the class for direct use
.button-primary {
  @include button-primary;
}

// ==========================
@mixin section-title {
  // font-size: 2.5rem;
  font-family: v.$font-second;
  margin: v.$spacing-lg 0;
  color: v.$primary-color;
  @include m.responsive-font(1.3rem, 2.5rem);
  @include m.transition(0.3s);
  font-weight: bold;
  text-align: center;
  // Responsive adjustments

  @media (max-width: v.$breakpoint-tablet) {
    font-size: 1.8rem;
    margin-bottom: v.$spacing-lg;
  }
  @media (max-width: v.$breakpoint-mobile) {
    font-size: 1.5rem;
    margin-bottom: v.$spacing-md;
  }
  @media (max-width: v.$breakpoint-watch) {
    font-size: 1.3rem;
    // margin-bottom: v.$spacing-md;
  }
}

// If you want, keep the class for direct use
.section-title {
  @include section-title;
}

// ==========================
