@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

body {
  font-family: v.$font-main;
  font-size: v.$font-size-base;
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  // smooth transition (optional extra safety)
  transition:
    background-color 0.28s ease,
    color 0.28s ease;

  /* Hide page content until loader is gone */
  body.loading {
    overflow: hidden; /* prevent scroll */
  }
}

@media (max-width: v.$breakpoint-mobile) {
  .main-content.container {
    padding: 0 v.$spacing-xs;
  }
}

a {
  // color: v.$primary-color;
  @include m.transition(0.3s);

  &:hover {
    color: darken(v.$primary-color, 10%);
  }
}
