@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

body {
  font-family: v.$font-main;
  font-size: v.$font-size-base;
  background-color: v.$light-bg;
  color: v.$secondary-color;
  margin: 0;
  padding: 0;
}

a {
  color: v.$primary-color;
  @include m.transition(0.3s);

  &:hover {
    color: darken(v.$primary-color, 10%);
  }
}
