// ==========================
// Navbar Styles
// ==========================

@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.navbar {
  position: sticky; // Make navbar sticky on top
  top: 0;
  width: 100%;
  background-color: v.$light-bg;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: v.$spacing-sm v.$spacing-md;

    .logo {
      font-family: v.$font-second;
      font-size: 1.8rem;
      font-weight: bold;
      color: v.$secondary-color;
      text-decoration: none;
      // border: 1px solid v.$primary-color;
      // padding: v.$spacing-sm v.$spacing-md;
      // border-radius: 4px;

      .logoSpan {
        color: v.$primary-color;
      }
    }

    .nav-links {
      display: flex;
      gap: 20px;
      font-family: v.$font-second;

      .nav-link-item {
        color: v.$secondary-color;
        text-decoration: none;
        font-size: 1rem;
        transition: color 0.3s ease;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -ms-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;

        &:hover,
        &.active {
          color: v.$primary-color;
        }
      }
    }
    /* Hamburger button */
    .hamburger {
      display: none;
      flex-direction: column;
      justify-content: center;
      gap: 6px;
      background: none;
      border: none;
      cursor: pointer;

      span {
        height: 3px;
        width: 25px;
        background-color: v.$primary-color;
        border-radius: 3px;
        transition: transform 0.3s ease;
        -webkit-transition: transform 0.3s ease;
        -moz-transition: transform 0.3s ease;
        -ms-transition: transform 0.3s ease;
        -o-transition: transform 0.3s ease;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
      }
    }
  }
}

//=========== Responsive Styles ================//
@media (max-width: v.$breakpoint-tablet) {
  .navbar {
    .container {
      justify-content: space-between;

      .nav-links {
        display: flex;
        flex-direction: column;
        background-color: v.$light-bg;
        position: absolute;
        top: 61px;
        right: 0;
        width: 100%;
        padding: 20px 0;
        text-align: center;
        transform: translateY(-100%);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);

        &.active {
          transform: translateY(0);
          opacity: 1;
          pointer-events: auto;
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
        }
      }

      .hamburger {
        display: flex;
      }
    }
  }
}
@media (max-width: v.$breakpoint-watch) {
  .navbar {
    padding: 0;
    .container {
      padding: v.$spacing-sm v.$spacing-sm;
      // flex-direction: column;
      // gap: 10px;

      .logo {
        font-size: 1.1rem;
      }

      .nav-links {
        gap: 10px;
        padding: 10px 0;

        &.active {
          transform: translateY(-22%);
          opacity: 1;
          pointer-events: auto;
          -webkit-transform: translateY(-22%);
          -moz-transform: translateY(-22%);
          -ms-transform: translateY(-22%);
          -o-transform: translateY(-22%);
          height: 80vh;
          overflow-y: scroll;
        }

        .nav-link-item {
          font-size: 0.9rem;
        }
      }
      .hamburger {
        gap: 3px;

        span {
          width: 20px;
          height: 3px;
        }
      }
    }
  }
}

/* =================================== */
