@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "./components" as c;
// ==========================
// ===== Categories Overview Section -- Home Page =====
.categories-overview {
    padding: v.$spacing-lg;
    // background-color: v.$dark-bg;
    color: white;
    max-width: 1200px;
    margin: v.$spacing-md auto 0;
    // background-color: v.$primary-color;
    border-radius: v.$border-radius;
    -webkit-border-radius: v.$border-radius;
    -moz-border-radius: v.$border-radius;
    -ms-border-radius: v.$border-radius;
    -o-border-radius: v.$border-radius;
    @include m.box-shadow(0, 2px, 4px, v.$box-shadow-light);

    @media (max-width: v.$breakpoint-watch) {
        padding: v.$spacing-sm v.$spacing-xs;
    }

    .section-title {
        @include c.section-title;
    }

    .categories-list {
        @include m.flex-center;
        flex-wrap: wrap;
        gap: 1.5rem;
        list-style: none;
        padding: 0;

        @media (max-width: v.$breakpoint-watch) {
            flex-direction: column;
        }

        li {
            a {
                padding: v.$spacing-sm v.$spacing-md;
                text-decoration: none;
                font-weight: 600;
                transition: background-color 0.3s ease;
                -webkit-transition: background-color 0.3s ease;
                -moz-transition: background-color 0.3s ease;
                -ms-transition: background-color 0.3s ease;
                -o-transition: background-color 0.3s ease;
                border-radius: v.$border-radius;
                -webkit-border-radius: v.$border-radius;
                -moz-border-radius: v.$border-radius;
                -ms-border-radius: v.$border-radius;
                -o-border-radius: v.$border-radius;
                color: v.$primary-color;
                background-color: #fff;
                @include m.box-shadow(0, 2px, 4px, v.$box-shadow-light);

                &:hover {
                    background-color: darken(v.$primary-color, 15%);
                    color: #fff;
                    @include m.box-shadow(0, 4px, 8px, v.$box-shadow-dark);
                }

                @media (max-width: v.$breakpoint-watch) {
                    padding: v.$spacing-sm;
                }
            }
        }
    }
}

// ==========================

.categories-pagination {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;

    .pagination-btn {
        background: #f0f0f0;
        color: v.$primary-color;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.3s ease;

        &.active {
            background: v.$primary-color;
            color: #fff;
            font-weight: bold;
        }

        &:hover {
            background: darken(v.$primary-color, 20%);
            color: #fff;
        }
    }
}
