// ==========================
// Mixins
// ==========================

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition($time) {
  transition: all $time ease-in-out;
  -webkit-transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -ms-transition: all $time ease-in-out;
  -o-transition: all $time ease-in-out;
}

@mixin responsive-font($min, $max) {
  font-size: clamp($min, $max, 2vw);
}
